---
import image from "../../public/img/scooter-app.jpg";
---
<section class="position-relative z-index-1 margin-y-2xl">
    <div class="container max-width-adaptive-lg">
      <div class="grid gap-lg items-center">
        <div class="col-6@md">
            <figure class="flex flex-center">
              <img class="width-100% radius-lg" data-img-light src={image} alt="Image description">
            </figure>
          </div>

        <div class="col-6@md">
          <div class="flex flex-column gap-sm text-center">
            <p class="text-sm color-contrast-low text-capitalize">Unleash the Thrill of Scooter Rental</p>
            <h1>Elevate Your Urban Experience</h1>
            <p class="line-height-lg">Experience the city like never before with our cutting-edge scooter rental app. Whether you're a local looking for a fun way to navigate the urban jungle or a tourist eager to explore every corner, our app provides seamless access to a fleet of stylish and eco-friendly scooters. With just a few taps, you can unlock the freedom to zip through traffic, discover hidden gems, and enjoy the exhilarating breeze. Say goodbye to parking hassles and hello to a new era of urban mobility. Get ready to elevate your urban experience with our scooter rental app</p>
        
            <div class="flex flex-center flex-wrap gap-sm">
              <a href="#0" class="btn btn--primary">Try the app</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>