---
import TiltedSlideshow from "./TiltedSlideshow.astro";
---

<section class="position-relative z-index-1 padding-y-xl">
    <div class="container max-width-adaptive-lg">
      <div class="grid gap-lg items-center">
        <div class="col-5@md">
          <div class="text-component">
            <p class="text-sm color-contrast-medium">Feel the freedom</p>
            <h2 class="text-4xl\@lg">Enjoy the freedom of rental anywhere you want</h2>
            <p>Aliquam erat volutpat. Duis iaculis aliquam ante at viverra. Ut eget hendrerit lectus. Sed finibus elementum augue sit amet.</p>
            <ul class="padding-left-lg text-sm color-contrast-medium">
              <li class="margin-bottom-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
              <li class="margin-bottom-xs">Lorem, ipsum dolor.</li>
              <li class="margin-bottom-xs">Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
            </ul>
          </div>
  
          <div class="margin-top-sm">
            <div class="flex flex-wrap gap-sm items-center">
              <a href="#0" class="btn btn--primary">Try our app</a>
            </div>
          </div>
        </div>
  
        <div class="col-7@md">
            <TiltedSlideshow />
        </div>
      </div>
    </div>
  </section>