---
import image from "/public/img/slider-1.png";
---

<section class="hero padding-y-lg padding-y-2xl@lg" data-img-light>
  <div class="container max-width-adaptive-lg">
    <div class="grid">
      <div class="col-6@md">
        <div class="flex flex-column gap-sm">
          <h1 class="text-4xl@md">Your Convenient Scooter Rental Solution</h1>
          <p class="text-sm">
            With our user-friendly platform, renting a scooter has never been easier. In just a few taps, you can find the perfect scooter to suit your needs and hit the road with confidence. Experience the freedom of scooting around the city hassle-free!
          </p>
          <div class="flex flex-wrap gap-sm items-center">
            <a href="#" class="btn btn--primary">Rent a Scooter Now</a>
          </div>
        </div>
      </div>
      <div class="col-6@md position-relative">
        <div class="position-absolute display@lg hero-image">
          <img src={image} alt="Image Description" />
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  /* -------------------------------- 

File#: _1_hero
Title: Hero
Descr: A full-width callout section
Usage: codyhouse.co/license

-------------------------------- */
  .hero {
    /* background-color: var(--color-primary); */
    /* if background image in CSS */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
  }

  /* --overlay-layer */
  .hero--overlay-layer::after {
    /* add a layer in between the img/video background and the content */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(
      var(--color-bg-h),
      var(--color-bg-s),
      var(--color-bg-l),
      0.65
    );
    z-index: 1;
  }

  .hero-image {
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }

  .hero-image img{
    transform: rotate(10deg);
  }
</style>
